.sui-result ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.larger {
    font-size: 1.25rem !important;
}

.human-summary-submission a {
    color: #de0008;
    text-decoration: underline;
}

.result-title {
    color: #3273dc !important;
}

a.result-title:hover, a.result-title:focus {
    color: #205bbc !important;
}