.msweb-is-tall {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.msweb-is-tall-container {
    flex: 1;
}

.msweb-fade-in {
    animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: 0
    }
    100% {
        opacity: 1;
        margin-left: 0
    }
}

.rc-slider-handle {
    width: 25px;
    height: 25px;
    margin-top: -10px;
    margin-left: -12px;
}

.rc-slider-track {
    height: 6px;
}

.rc-slider-dot {
    width: 15px;
    height: 15px;
    bottom: -6px;
    margin-left: -9px;
}

.msweb-is-red-txt {
    color: red;
}

.msweb-is-red-link {
    color: red;
    text-decoration: underline;
}

.msweb-is-blue-txt {
    color: darkblue;
}

.msweb-is-green-txt {
    color: darkgreen;
}

.msweb-is-orange-txt {
    color: darkorange;
}

.msweb-is-turq-txt {
    color: darkturquoise;
}

.msweb-is-purple-txt {
    color: mediumpurple;
}

.msweb-is-darkcyan-txt {
    color: #2b8182;
}

.msweb-is-pink-txt {
    color: deeppink;
}

.msweb-is-grey-txt {
    color: gray;
}

.msweb-is-midnightblue-txt {
    color: midnightblue;
}

.msweb-is-dimgray-txt {
    color: dimgray;
}

details summary::-webkit-details-marker {
    display: none;
}

summary {
    outline: none;
}

.msweb-hovertrans {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.msweb-hovertrans-0:hover {
    color: green;
}

.msweb-hovertrans-1:hover {
    color: red;
}

.msweb-hovertrans-2:hover {
    color: blue;
}

.msweb-hovertrans-3:hover {
    color: purple;
}

.msweb-hovertrans-4:hover {
    color: orange;
}

.msweb-hovertrans-5:hover {
    color: violet;
}

.msweb-hovertrans-6:hover {
    color: darkcyan;
}

.msweb-hovertrans-7:hover {
    color: darkblue;
}

.msweb-hovertrans-8:hover {
    color: darkred;
}

.msweb-hovertrans-9:hover {
    color: coral;
}

.msweb-hovertrans-10:hover {
    color: darkgoldenrod;
}

.msweb-custom-box-shading {
    box-shadow: 0 5px 3px rgba(10, 10, 10, 0.1), 0 0 0 3px rgba(10, 10, 10, 0.1);
}

.msweb-custom-box-shading:hover {
    box-shadow: 0 5px 3px rgba(10, 10, 10, 0.1), 0 0 0 3px rgba(0, 00, 00, 1);
}

.sui-multi-checkbox-facet__input-text {
    margin-left: 5px;
    margin-right: 5px;
}

/* Keyword highlight start */

.sui-results-container em:after {
    content: none;
}

.sui-results-container em {
    font-weight: bold;
}

.sui-results-container .has-text-link em {
    color: #153ce4;
}

.has-underline {
    text-decoration: underline;
}

/* Keyword highlight end */

/* Logo start */

.covid-scholar-logo {
    width: 300px;
    position: relative;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 0%);
}

/* Logo end */

/* Footer start */
.sui-layout-body:after {
    content: none;
}

/* Footer end */

.sui-layout-body {
    background: #ffffff
}

.sui-search-box__wrapper {
    z-index: 2;
}

.is-search-width {
    width: 67% !important;
}

.is-vertical-align-middle {
    vertical-align: middle;
}

.header-full-width {
    position: absolute;
    left: 0;
    right: 0;
}

.sui-layout-header {
    padding: 0 24px 0;
    border: none;
}

.autocomplete .sui-search-box__text-input {
    box-shadow: rgba(59, 69, 79, 0.3) 0 2px 4px;
}

.sui-search-box__autocomplete-container {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 90%;
    margin: 0;
    padding: 12px 0 12px 0;
    line-height: 1.5;
    background: white;
    position: absolute;
    box-shadow: rgba(59, 69, 79, 0.3) 0 2px 4px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete .sui-search-box__autocomplete-container {
    display: -webkit-box;
    display: flex;
    z-index: 1;
}

.sui-search-box__autocomplete-container ul {
    list-style: none;
    margin: 0;
    padding: 0 0 24px 0;
    background: transparent;
    border-radius: 3px;
}

.sui-search-box__autocomplete-container ul:last-child {
    padding: 0;
}

.sui-search-box__autocomplete-container li {
    margin: 0 12px;
    font-size: 0.9em;
    padding: 4px 12px;
    border-radius: 4px;
    color: #555;
    cursor: default;
}

.sui-search-box__autocomplete-container li em {
    font-style: normal;
    color: #3a56e4;
    background: #edf0fd;
}

.sui-search-box__autocomplete-container li:hover {
    background: #3a56e4;
    color: #ffffff;
}

.sui-search-box__autocomplete-container li:hover em {
    background: transparent;
    color: #ffffff;
}

.sui-search-box__autocomplete-container li[aria-selected="true"] {
    background: #3a56e4;
    color: #ffffff;
}

.sui-search-box__autocomplete-container li[aria-selected="true"] em {
    background: transparent;
    color: #ffffff;
}